# Ignore everything
*

# Include files required for building the application (except for node_modules these are installed by docker)
!app
!public
!LICENSE
!package-lock.json
!package.json
!README.md
!SECURITY.md
!tailwind.config.js
!tsconfig.json
!postcss.config.mjs
!vite.config.ts
