@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
li,
p {
  max-width: 70ch;
}

ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

html {
  /* keep 16px, don't change! (e.g. angie library depends on it) */
  font-size: 16px;
}

body {
  font-family: "BundesSansWeb", "Calibri", "Verdana", "Arial", "Helvetica",
    sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  min-height: 100vh;
}
